<div class="col-md-6 offset-md-3">
  <h1>Tạo mới 1 sách</h1>
  <form [formGroup]="bookForm" (ngSubmit)="create()">
    <table>
      <tr>
        <td>Title: </td>
        <td><input type="text" formControlName="title" ></td>
      </tr>
      <tr>
        <td>Author: </td>
        <td><input type="text" formControlName="author" ></td>
      </tr>
      <tr>
        <td>Description: </td>
        <td><input type="text" formControlName="description" ></td>
      </tr>
      <tr>
        <td>
          <button [routerLink]="['']" class="btn-outline-primary">Thoát</button>
        </td>
        <td>  <button type="submit" class="btn-outline-success">Tạo mới</button></td>
      </tr>
    </table>
  </form>
</div>

