
<div class="col-md-6 offset-md-3">
  <center><h1>Edit User</h1></center>
  <form [formGroup]="bookForm" (ngSubmit)="editBook()">
    <table>
      <tr>
        <td>Title: </td>
        <td><input type="text" formControlName="title" ></td>
      </tr>
      <tr>
        <td>Author:</td>
        <td><input type="text" formControlName="author"></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><input type="text" formControlName="description" ></td>
      </tr>
      <tr>
        <td><button type="submit" class="btn-outline-success">Cập nhật</button></td>
        <td><button [routerLink]="['']" class="btn-outline-primary">Thoát</button></td>
      </tr>
    </table>
  </form>
</div>


